.features__head {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.features__head-features {
    font-size: 48px;
    line-height: 55px;
}

.features__paragrag {
    text-align: center;
    font-size: 28px;
    line-height: 1.5em;
}

.features__paragrag-bottom {
    display: none;
}

/*.features__mobilevpicture {
    display: flex;
    justify-content: center;
}
*/
.features__options {
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .features__options .option__item {
        /*margin-left: 100px;*/
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .features__options .option__item-image {
        width: 45px;
        height: 45px;
    }

    .features__options .option__item-header {
        font-size: 28px;
        text-align: center;
    }

    .features__options .option__item-paragraf {
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
    }

.features__mainpicture {
    display: none;
}

@media (min-width: 920px) {
    .features__head {
        text-align: center;
        padding-top: 90px;
        padding-bottom: 20px;
    }

    .features__paragrag-bottom {
        display: block;
    }

    .features__mobilevpicture {
        display: none;
    }

    .features__options {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        .features__options .option__item {
            margin-left: 50px;
            /*margin-bottom: 50px;*/
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
           
        }

    .features__mainpicture {
        display: flex;
        justify-content: center;
    }
}
