<section id="features" class="features">
        <div class="features__head">
            <h2 class="features__head-features">Features</h2>
        </div>  
        <div class="features__paragrag">
            <p>
                Most calendars are designed for teams.
            </p>
            <p>
                Slate is designed for freelancers
            </p>

        </div>
        <div class="features__options option">
            <div class="option__item">
                <img class="option__item-image" src="img/dotandsquare.png" alt="Dot and square picture">
                <h3 class="option__item-header">
                    OpenType features
                </h3>
                <h3 class="option__item-header">
                    Variable fonts
                </h3>
                <p class="option__item-paragraf">
                    Slate helps you see how
                    many more days you need
                    to work to reach your
                    financial goal.
                </p>
            </div>
            <div class="option__item">
                <img class="option__item-image" src="img/pencil.png" alt="Dot and square picture" />
                <h3 class="option__item-header">Design with real data</h3>
                <p class="option__item-paragraf">
                    Slate helps you see how
                    many more days you need
                    to work to reach your
                    financial goal.
                </p>
            </div>
            <div class="option__item">
                <img class="option__item-image" src="img/brush.png" alt="Brush picture">
                <h3 class="option__item-header">
                    Fastest way to
                    
                </h3>
                <h3 class="option__item-header">
                    take action
                </h3>
                <p class="option__item-paragraf">
                    Slate helps you see how
                    many more days you need
                    to work to reach your
                    financial goal.
                </p>
            </div>

        </div>
    
    <img src="img/videoscreen.png" alt="Video screen picture">
</section>
