<section id="features" class="features">
    <div class="features__head">
        <h2 class="features__head-features">Features</h2>
    </div>
    <div class="features__paragrag">
        <p class="features__paragrag-top">
            Most calendars are designed for teams.
        </p>
        <p class="features__paragrag-bottom">
            Slate is designed for freelancers
        </p>
    </div>
    <div class="features__mobilevpicture">
        <img src="img/mobilevideoscreen.png" alt="Mobile video screen picture">
    </div>
    <div class="features__options option">
        <div class="option__item">
            <img class="option__item-image" src="img/dotandsquare.png" alt="Dot and square picture">
            <h3 class="option__item-header">
                OpenType features<br />Variable fonts
            </h3>
            <p class="option__item-paragraf">
                Slate helps you see how
            </p>
            <p class="option__item-paragraf">
                many more days you need
            </p>
            <p class="option__item-paragraf">
                to work to reach your
            </p>
            <p class="option__item-paragraf">
                financial goal.
            </p>
        </div>
        <div class="option__item">
            <img class="option__item-image" src="img/pencil.png" alt="Dot and square picture" />
            <h3 class="option__item-header">Design with real data</h3>
            <p class="option__item-paragraf">
                Slate helps you see how
            </p>
            <p class="option__item-paragraf">
                many more days you need
            </p>
            <p class="option__item-paragraf">
                to work to reach your
            </p>
            <p class="option__item-paragraf">
                financial goal.
            </p>
        </div>
        <div class="option__item">
            <img class="option__item-image" src="img/brush.png" alt="Brush picture">
            <h3 class="option__item-header">
                Fastest way to<br />take action
            </h3>
            <p class="option__item-paragraf">
                Slate helps you see how
            </p>
            <p class="option__item-paragraf">
                many more days you need
            </p>
            <p class="option__item-paragraf">
                to work to reach your
            </p>           
            <p class="option__item-paragraf">
                financial goal.
            </p>




        </div>
    </div>
    <div class="features__mainpicture ">
        <img src="img/videoscreen.png" alt="Video screen picture">
    </div>
</section>
