<header class="header">
    <div class="header__up">
        <nav class="header__navigation">
            <div class="header__menu">
                <a href="#" class="menu__item">Home</a>
                <a href=#product class="menu__item">Poduct</a>
                <a href="#" class="menu__item">Pricing</a>
                <a href="#" class="menu__item">About</a>
                <a href="#" class="menu__item">Contact</a>
            </div>
        </nav>

        <div class="header__figmalogo">
            <img src="./img/figmalogo.png" alt="Figma Logo">
        </div>


        <nav class="header__socialmedia">
            <div class="header__socialmedia socialmedia">
                <a href="#" class="socialmedia__item"> <img src="img/twlogo.png" alt="Twitter logo"></a>
                <a href="#" class="socialmedia__item"> <img src="img/fblogo.png" alt="FB logo"></a>
                <a href="#" class="socialmedia__item"> <img src="img/lilogo.png" alt="LI logo"></a>
            </div>
        </nav>

    </div>
    <div class="header__midle midle">
        <h2 class="midle__headertext">
            The best products
        </h2>
        <h2 class="midle__headertext">
            start with Figma
        </h2>
        <p class="midle__paragraftext" id="midle__paragraftext-start">
            Most calendars are designed for teams. Slate is designed
        </p>
        <p class="midle__paragraftext" id="midle__paragraftext-end">
            for freelancers.
        </p>
    </div>
    <nav class="header_bottom button">
        <div class="button">
            <a id="button-tryforfree" href="#">Try For Free</a>
        </div>
    </nav>
    <!--Burger-->
    <div class="header__burger">
        <input class="header__burger-input" id="burger" type="checkbox" />
        <label class="header__burger-label" for="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Poduct</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li class="header__socialmedia-burger">
                    <a href="#"><img src="img/twlogo.png" alt="Twitter logo"></a>
                    <a href="#"><img src="img/fblogo.png" alt="FB logo"></a>
                    <a href="#"><img src="img/lilogo.png" alt="LI logo"></a>
                </li>
                
            </ul>
        </nav>
        <!--<nav class="header__socialmedia-burger">
            <div class="header__socialmedia-burger socialmedia_burger">
                <a href="#" class="socialmedia__item-burger"> <img src="img/twlogo.png" alt="Twitter logo"></a>
                <a href="#" class="socialmedia__item-burger"> <img src="img/fblogo.png" alt="FB logo"></a>
                <a href="#" class="socialmedia__item-burger"> <img src="img/lilogo.png" alt="LI logo"></a>
            </div>
        </nav>-->
    </div>
    <!--Burger end-->

</header>
