<header class="header">
    <div class="header__up">
        <nav class="header__navmenu menu">
            <ul>
                <li>
                    <a href="#" class="menu__item">Home3</a>
                    <a href=#product class="menu__item">Poduct</a>
                    <a href="#" class="menu__item">Pricing</a>
                    <a href="#" class="menu__item">About</a>
                    <a href="#" class="menu__item">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header__figmalogo">
            <img src="./img/figmalogo.png" alt="Figma Logo">
        </div>
        <nav class="header__socialmedia socialmedia">
            <ul>
                <li>
                    <a href="#" class="socialmedia__item"> <img src="img/twlogo.png" alt="Twitter logo"></a>
                    <a href="#" class="socialmedia__item"> <img src="img/fblogo.png" alt="FB logo"></a>
                    <a href="#" class="socialmedia__item"> <img src="img/lilogo.png" alt="LI logo"></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header__midle">
        <h2>
            The best products
            start with Figma
        </h2>
        <p class="header__most">
            Most calendars are designed for teams. Slate is designed
            for freelancers
        </p>
    </div>
    <div class="header_bottom">
        <a id="button-tryforfree-header" href="#">Try For Free</a>
    </div>
</header>
