<section>
    <div class="product">
        <div class="product__describe-secton">
            <div class="product__haed">
                <h2 class="product__haed">
                    Fastest way to organize
                </h2>
            </div>
            <div class="product__paragrag-mobile">
                <p>
                    Most calendars are designed for teams.
                </p>
            </div>
            <div class="product__paragrag-full">
                <p>
                    Slate is designed for freelancers
                </p>
            </div>
            <nav class="product__button button">
                <div class="button">
                    <a id="button-tryforfree" href="#">Try For Free</a>
                </div>
            </nav>
        </div>
        <div class="product__describe-pictures">
            <div>
                <img src="img/notebook_picture.png" alt="Notebook picture">
            </div>
        </div>
    </div>
 </section>